[submodule "metashade"]
	path = metashade
	url = https://github.com/metashade/metashade.git
[submodule "glTFSample"]
	path = glTFSample
	url = https://github.com/metashade/glTFSample.git
	branch = metashade_demo
[submodule "tests/ref"]
	path = tests/ref
	url = https://github.com/metashade/metashade-glTFSample-testrefs.git
